<%= render FormComponent::Base.new(User.new, options) do |c| %>
  <%= c.input :email, value: email, required: true %>
  <%= c.input :password, required: true %>

  <% if devise_mapping.rememberable? %>
    <%= c.checkbox :remember_me %>
  <% end %>

  <div class="d-flex">
    <%= c.button(type: :submit) { 'Login' } %>
  </div>
<% end %>

<%= render AuthComponent::Links.new(class: 'mt-2') %>
