<%= component_controller class: classes, id: 'foo-bar' do %>
  <%= form_tag path, options do %>
    <% fields.each do |component:, arguments:| %>
      <%= render component.new(*arguments) %>
    <% end %>
  <% end %>

  <%= render ButtonComponent::Base.new('Click me test', {
    class: 'mt-10',
    data: reflex_data_attributes(:handle_click),
  }) %>

  <%= reflex_tag :handle_click, :button, "Click Me test", class: "button is-primary", type: "button" %>

  <%= @count %>

  <div id="testing-clicked">
    <% if @clicked %>
      CLICKED!
    <% end %>
  </div>
<% end %>
