<% if show_info_bar %>
  <%= render HeaderComponent::Info.new %>
<% end %>

<%= tag.nav tag_options do %>
  <div class="container justify-content-start">
    <%= render ButtonComponent::Base.new({
      color: 'link',
      class: 'd-lg-none me-2',
      aria: {
        controls: 'navbarHeaderContent',
        expanded: false,
        label: 'Toggle navigation',
      },
      data: {
        controller: "sidebar-component--base",
        "sidebar-component--base-id-value": "#navbarHeaderContent",
        action: "click->sidebar-component--base#toggle",
      },
    }) {
      render IconComponent::Base.new(svg: 'bars-regular')
    } %>

    <a class="navbar-brand" href="/">
      <%= render LogoComponent::Base.new %>
    </a>

    <%= render SidebarComponent::Base.new(sidebar_options) do |c| %>
      <%= c.list({
        class: 'navbar-nav',
        item: {
          class: "nav-item",
          component: { class: 'nav-link'},
        },
      }) do |l| %>
        <%= l.item(href: "/") { "Home" } %>
        <%= l.item(href: "/link") { "Link" } %>
        <%= l.dropdown(tag: "li") do |d| %>
          <%= d.button(class: 'nav-link', tag: 'a') { "Dropdown" } %>

          <%= d.list(class: 'dropdown-menu-end') do |dl| %>
            <%= dl.item { "Action" } %>
            <%= dl.item { "Another Action" } %>
            <%= dl.item(divider: true) %>
            <%= dl.item { "Something else here" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
