<!DOCTYPE html>
<html>
  <head>
    <title>AppTemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_packs_with_chunks_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbo-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <div aria-live="polite" aria-atomic="true" class="position-relative">
      <div id="flash_messages" class="toast-container position-absolute top-0 end-0 p-3" data-turbo-permanent></div>
    </div>

    <%= yield :header %>

    <div id="content">
      <%= yield %>
    </div>

    <%= yield :footer %>
  </body>
</html>
