<!DOCTYPE html>
<html>
  <head>
    <title>AppTemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_packs_with_chunks_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbo-track': 'reload' %>

    <%= yield :head %>
  </head>

  <%= tag.body class: body_css_classes do %>
    <%= render FlashComponent::Container.new(id: 'flash_messages') %>

    <% if content_for? :header %>
      <%= yield :header %>
    <% else %>
      <%= render HeaderComponent::Base.new({
        show_info_bar: true,
        sidebar: {
          id: "navbarHeaderContent",
          animation: { type: :float },
        },
      }) %>
    <% end %>

    <div id="content">
      <% if content_for? :left_content %>
        <%= yield :left_content %>
      <% end %>

      <div class="container-fluid">
        <%= yield %>
      </div>

      <% if content_for? :right_content %>
        <%= yield :right_content %>
      <% end %>
    </div>

    <%= yield :footer %>
  <% end %>
</html>
